---
import type { Brands } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Image from '~/components/common/Image.astro';
import '~/assets/styles/logoSlider.css'

const {
  title = '',
  subtitle = '',
  tagline = '',
  images = [],
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Brands;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />

  <div class="overflow-hidden">
    <div class="ml-auto mr-auto box-border pl-4 pr-4">
      <div class="flex-row flex flex-wrap">
        <div class="border-y border-[rgb(222,226,230)] py-2">
          <div class="swiper-logo ml-auto mr-auto relative overflow-hidden padding-0 p-0 z-[1] block">
            <div class="swiper-wrapper-logo relative w-[100%] h-[100%] z-[1] flex box-content transform">
              {
                images &&
                  images.map(
                    (image) =>
                      image.src && (
                        <div class="swiper-slide-logo py-6 flex h-20 cursor-pointer items-center justify-center lg:px-6 lg:py-6 text-center opacity-50 grayscale filter transition hover:opacity-100 hover:grayscale-0" style="width: 240px; margin-right: 20px;">
                          <Image src={image.src} alt={image.alt || ''} class="inline object-contain"/>
                        </div>
                      )
                  )
              }
              {
                images &&
                  images.map(
                    (image) =>
                      image.src && (
                        <div class="swiper-slide-logo py-6 flex h-20 cursor-pointer items-center justify-center lg:px-6 lg:py-6 text-center opacity-50 grayscale filter transition hover:opacity-100 hover:grayscale-0" style="width: 240px; margin-right: 20px;">
                          <Image src={image.src} alt={image.alt || ''} class="inline object-contain"/>
                        </div>
                      )
                  )
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</WidgetWrapper>



